<div class="container" ng-show="isLoading">
<i class="fa fa-4x fa-spinner fa-pulse" ></i>
</div>
 <div ng-show="!isLoading" class="container">
   <div class="row">
        <div class="col-md-6">
           <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for Cinema ..." ng-model="cinemaName" ng-change="change()">
                    <span class="input-group-btn">
					  <button class="btn {{d.bgcolor}}" style="color:#fff;" type="button" ng-show="cinemaName.length>0" ng-click="search(cinemaName)">Search</button>
                    </span>
            </div> <!-- /input-group -->
         </div><!-- /.col-lg-6 -->
         <div class="col-md-6">
                <div ng-show="found">
                    <h3 class="text-danger"> Ooops! {{cinemaName}} not found ....</h3>
                </div>
         </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
 </div>
<div ng-show="cinema&&!isLoading">
 <div class="container">
   <div>
    <div class="col-md-6 cinema-poster">
	  <img style="overflow:hidden;height:275px;width:100%" ng-src="{{cinema.general.posterUrl}}"/>
	</div>
	<div class="col-md-6">
	   <h3>{{cinema.en.name}}</h3>
	   <ul class="ul-inline">
		<h5>
	     <li><i class="fa fa-certificate"></i> Certificate:{{cinema.general.certificate||'Not Avaialable'}}|<li/>
		 <li><i class="fa fa-calendar"></i> Release Date:{{cinema.general.releaseDate||'Not Avaialable'}}|<li/>
		 <li><i class="fa fa-clock-o"></i> Duration:{{cinema.general.duration||'Not Avaialable'}}<li/>
		</h5> 
	   </ul>
	   <h3>Story</h3>
	   <p>{{cinema.en.story||'Cinema yet to be released'}}</p>
	</div>
   </div>
</div>
 <div class="container">
	    <ul id="myTab" class="nav nav-tabs">
           <li class="active"><a href="cinema/#basicInformation" data-toggle="tab">Basic information </a></li>
           <li><a href="cinema/#CastandCrew" data-toggle="tab"><i class="fa fa-users"></i> Cast & Crew</a></li>
		   <li><a href="cinema/#Trailers" data-toggle="tab"><i class="fa fa-youtube-play"></i> Trailers</a></li>
           <li><a href="cinema/#Songs" data-toggle="tab"><i class="fa fa-headphones"></i> Songs</a></li>
		   <li><a href="cinema/#News" data-toggle="tab"><i class="fa fa-newspaper-o"></i> News</a></li>
		   <li><a href="cinema/#Pictures" data-toggle="tab"><i class="fa fa-picture-o"></i> Pictures</a></li>
		   <li><a href="cinema/#UserReviews" data-toggle="tab"><i class="fa fa-commenting"></i> User Reviews</a></li>
   </ul>
  <div id="myTabContent" class="tab-content">
   <div class="tab-pane fade in active" id="basicInformation">
     
	   <h4>Basic information</h4>

	     <h3>Story: {{cinema.en.story||'Cinema yet to be released'}}</h3>
	 
	</div>  
   <div class="tab-pane fade in " id="CastandCrew">
	 
	   <h4>Starring</h4>
	   <ul class="ul-inline">
	     <li ng-repeat="star in cinema.en.casting.starring">{{star}} </li>
	   </ul>
	  
   </div>
   <div class="tab-pane fade in " id="Songs">
   <div class="row">
      <div class="col-md-6 col-sm-6" ng-show="cinema.en.songs.url">
     <div my-youtube  class="media" code="cinema.en.songs.url" ></div>
   </div>
   <div class="col-md-6 col-sm-6" ng-show="cinema.en.songs.list.length>0">
      <div class="tab-pane fade in " id="songs">{{songs.list}}
      <ul id="songsTab" class="breadcrumb" >
		   <li ng-repeat="song in cinema.en.songs.list"><a href="cinema/#Songs/#{{song.name}}" data-toggle="tab"><i class="fa fa-headphones"></i>{{song.name}}</a></li>
      </ul>
	  <div id="songTabContent" class="tab-content">
	    <div class="tab-pane fade in " id="{{songTab.name}}" ng-repeat="songTab in cinema.en.songs.list">
		 Lyrics: {{songTab.lyrics}} Singer(s): {{songTab.singer}} 		   
	    </div>
	  </div>
      </div>
   </div>
   </div><!--row-->
   <div ng-show="cinema.en.songs.date">
    Songs will be avaiable on {{cinema.en.songs.date}}
   </div>
   </div>
   <div class="tab-pane fade in " id="News">
     Comming Soon
   </div>
   <div class="tab-pane fade in " id="Pictures">
	 <div class="row">
			  <div class="col-md-3 col-xs-6 " ng-repeat="photo in cinema.general.photos">  
					<img class ="img-view" ng-src="{{photo}}" alt="..."/>
			  </div>
	</div> 
   </div>
   <div class="tab-pane fade in " id="Trailers">
	 	 <div class="row">
			  <div class="col-md-6 col-xs-6" ng-repeat="teaser in cinema.en.teasers">  
					<div my-youtube class="media" code="teaser"></div>
			  </div>
	</div> 
   </div>
   <div class="tab-pane fade in " id="UserReviews">
     Comming Soon
   </div>
 </div>
 </div> <!-- /container -->
</div> 