<div class="container">	
 <h4>News Today</h4>
</div>
 
<div class="container">	
<i class="fa fa-4x fa-spinner fa-pulse" ng-show="isLoading"> </i>		 	 
		<div class="row">
			  <div class="col-md-3 col-xs-6" ng-repeat="news in newsItems" ng-show="showNewsLinks">
			    <a href="" ng-click="showOrHideNews(news)">     
					<img class ="img-responsive" ng-src="{{news.imglnk}}" alt="..."/>
					{{news.ld.ttl}}
				</a>	
			  </div>
		</div>  
		<div ng-show="showLinkContent">
			     <h3>{{activeNews.ld.ttl}} </h3> 
				  <div my-youtube class="media" code="activeNews.mO[0]" ng-show="(activeNews.type == 'TE') || (activeNews.type =='VR')"></div>
				  <image  class="media" ng-src="{{activeNews.imglnk}}" ng-show="activeNews.type == 'PO'"/> 
				  
				  <p>{{activeNews.ld.msg}}</p>
					
				 <button type="button" style="color:#fff;" class="btn  {{d.bgcolor}}" ng-click="showOrHideNews()">Back</button>
		</div>
</div>
