
body {
	font-family: calibri;
	font-size: 16px;
	/*background-color :#feeb3b;*/
}

hr{
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px dashed #ff9800;

}

.color0{
 background-color: #8d38c9;
}
.color1{
 background-color: #3f51b5;
}
.color2{
 background-color: #2196f3;	
}
.color3{
 background-color: #4caf50;	
}
.color4{
 background-color: #feeb3b;	
}
.color5{
 background-color: #ff9800;	
}
.color6{
 background-color: #f44336;	
}

.hrcolor0{
 color: #8d38c9;
}
.hrcolor1{
 color: #3f51b5;
}
.hrcolor2{
 color: #2196f3;	
}
.hrcolor3{
 color: #4caf50;	
}
.hrcolor4{
 color: #feeb3b;	
}
.hrcolor5{
 color: #ff9800;	
}
.hrcolor6{
 color: #f44336;	
}


.container{
	padding-top: 5px;
}
.col-lg-4{	
padding-bottom: 5px;
padding-left: 5px;
padding-right: 5px;
padding-top: 5px;

}

.col-lg-8{	
padding-bottom: 5px;
padding-left: 5px;
padding-right: 5px;
padding-top: 5px;
}
.col-lg-6{	
padding-bottom: 5px;
padding-left: 5px;
padding-right: 5px;
padding-top: 5px;
height:80px;
}
.col-lg-48{	
padding-bottom: 5px;
padding-left: 5px;
padding-right: 5px;
padding-top: 5px;
height:500px;
}